<template>
	<div class="forum-create-topic">
		<Layout>
			<Navbar slot="navbar"
			title="发帖"
			btnType="publishText"
			backImg="1"></Navbar>
			<div slot="content-container"
			class="content-container">
			<div class="to-board">
				<div class="to-board-wrap">
					<span>发表到</span>
					<span class="right">{{this.$store.state.forum.boardInfo.title}}</span>
				</div>
			</div>
			<div class="topic-title">
				<div class="topic-title-wrap">
					<input type="text"
					placeholder="请输入标题"
					v-model="topicTitle">
				</div>
			</div>
			<div class="topic-message">
				<div class="topic-message-wrap">
					<textarea v-model="topicMessage"
					placeholder="请输正文"></textarea>
				</div>
			</div>
			<div class="upload-box">
				<ul class="topic-attach">
					<li v-for="atta in uniqueCmpAttachs">
						<img :src="atta.content"
						:alt="atta.id">
						<span style="display:block;width:10px;height:4px;background:red;"
						@click="delImage(atta.id)"></span>
					</li>
				</ul>
				<div class="upload-image">
					<input id="upload"
					type="file"
					accept="image/png;image/gif;image/jpeg"
					multiple
					v-on:change="chooseImage($event)"
					name="image">
				</div>
			</div>
		</div>
		<Tabbar slot="tabbar"></Tabbar>
	</Layout>
</div>
</template>
<script>
	import $ from 'jquery';
	import api from '../../ajax/api';
	import Navbar from '../../components/navbar';
	import Tabbar from '../../components/tabbar';
	import Layout from '../../components/layout';
	import jic from '../../helper/image';
	import nativeToast from 'native-toast';
	import arrayHelper from '../../helper/array';
	var num = 0;
	export default {
		name: "createTopic",
		components: {
			Layout,
			Tabbar,
			Navbar
		},
		data() {
			return {
				cmpAttachs: [],
				orgAttachs: []
			}
		},
		mounted() {
			var _this = this;
			$(".navbar .right").on("click", function () {
				_this.$store.dispatch({
					router: _this.$router,
					type: "createTopic",
					apiPath: api.createTopic,
					subject: _this.topicTitle,
					message: _this.topicMessage,
					orgAttachs: _this.uniqueOrgAttachs
				});
			});
			this.$store.commit({
				type: 'getBordInfo',
				bid: this.$route.params.bid,
				title: this.$route.query.title
			});
		},
		methods: {
			delImage(id) {
				for (var i in this.cmpAttachs) {
					var curr = this.cmpAttachs[i];
					if (curr['id'] == id) {
						this.cmpAttachs.splice(i, 1)
						this.orgAttachs.splice(i, 1);
					}
				}
				if(this.cmpAttachs.length==0){
					$("#upload").val("");
				}
			},
			chooseImage(event) {
				var _this = this;
				var files = event.target.files;
				if (files.length > 4) {
					nativeToast({
						message: "最多上传四张图片",
						position: 'bottom',
						timeout: 2000
					});
				} else {
					for (var i = 0, f; f = files[i]; i++) {
						num += 1;
						var _reader = new FileReader();
						_reader.readAsDataURL(f);
						_reader.onload = (function (theFile, num) {
							return function (e) {
								if (theFile.type == "image/jpeg" || theFile.type == "image/png") {
									var img = new Image();
									img.src = e.target.result;
									var jic1 = jic.compress(img, 40, "jpg");
									var cmpInfo = {
										id: num,
										name: theFile.name,
										content: jic1.src
									};
									_this.cmpAttachs.push(cmpInfo);

									var jic2 = jic.compress(img, 80, "jpg");
									var orgInfo = {
										id: num,
										name: theFile.name,
										content: jic2.src
									};
									_this.orgAttachs.push(orgInfo);
								} else {
									var cmpInfo = {
										id: num,
										name: theFile.name,
										content: e.target.result
									};
									_this.cmpAttachs.push(cmpInfo);

									var info = {
										id: num,
										name: theFile.name,
										content: e.target.result
									};
									_this.orgAttachs.push(info);
								}
							};
						})(f, num);
					}
				}
			}
		},
		computed: {
			topicTitle: {
				get() {
					return this.$store.state.forum.topicTitle;
				},
				set(value) {
					this.$store.commit('updateTitle', value);
				}
			},
			topicMessage: {
				get() {
					return this.$store.state.forum.topicMessage;
				},
				set(value) {
					this.$store.commit('updateMessage', value);
				}
			},
			uniqueCmpAttachs:{
				get:function(){
					return arrayHelper.unique(this.cmpAttachs);
				}
			},
			uniqueOrgAttachs:{
				get:function(){
					return arrayHelper.unique(this.orgAttachs);
				}
			}
		}
	}
</script>
<style>
	.to-board {
		width: 100%;
		height: 40px;
		line-height: 40px;
		color: #999999;
		font-size: 14px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}

	.to-board-wrap {
		background: #ffffff;
		margin: 5px 0;
		padding: 0 12px;
	}

	.to-board .right {
		float: right;
	}

	.topic-title {
		width: 100%;
		margin-top: 10px;
		background: #ffffff;
	}

	.topic-title-wrap {
		margin-left: 12px;
		margin-right: 12px;
		border-bottom: 1px solid #dddddd;
	}

	.topic-title input {
		width: 100%;
		color: #999999;
		font-size: 14px;
		padding-top: 15px;
		padding-bottom: 15px;
		border: none;
	}

	.topic-message {
		width: 100%;
		background: #ffffff;
	}

	.topic-message-wrap {
		margin-left: 12px;
		margin-right: 12px;
	}

	.topic-message textarea {
		border: none;
		width: 100%;
		height: 300px;
		color: #999999;
		padding-top: 15px;
		font-size: 14px;
	}

	.upload-box {
		overflow: hidden;
		background: #ffffff;
	}

	.topic-attach {
		list-style: none;
	}

	.topic-attach li {
		float: left;
		margin-left: 12px;
		margin-top: 12px;
		width: 68px;
		height: 68px;
		background: no-repeat center center;
		background-size: cover;
	}

	.upload-image {
		float: left;
		position: relative;
		margin-left: 12px;
		width: 68px;
		height: 68px;
		border: 1px solid #D9D9D9;
		background-size: contain;
		display: inline-block;
		background: url(../../assets/image/common/upload.png) no-repeat;
	}

	.upload-image input {
		position: absolute;
		z-index: 1;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
</style>