<template>
	<div class="forum-topiclist">
		<Layout>
			<Navbar slot="navbar" :title="this.$route.query.title" backImg="2"></Navbar>
			<div slot="content-container" class="content-container">
				<div class="topic-banner">
					<img v-if="topicsOfBoard.length>0" :src="topicsOfBoard[0].board_banner_image">
					<div class="create-post"><router-link :to="{name:'topic',params:{bid:this.$route.params.bid},query:{title:this.$route.query.title}}"><img src="../../assets/image/common/create_post.png"></router-link></div>
				</div>
				<ul class="topic-list">
					<li class="topic-list-item" v-for="tp in topicsOfBoard"></li>
				</ul>
			</div>
			<Tabbar slot="tabbar"></Tabbar>
		</Layout>
	</div>
</template>
<script>
	import {mapGetters} from 'vuex';
	import api from '../../ajax/api';
	import Navbar from '../../components/navbar';
	import Tabbar from '../../components/tabbar';
	import Layout from '../../components/layout';
	export default{
		name:"threads",
		components:{
			Layout,
			Tabbar,
			Navbar
		},
		data() {
			return {

			}
		},
		mounted(){
			this.$store.commit({
				type:"getBordInfo",
				bid:this.$route.params.bid,
				title:this.$route.query.title
			});
			this.$store.dispatch({
				type:"getTopics",
				apiPath:api.getTopics+this.$route.params.bid
			});
		},
		computed: {
			...mapGetters([
				'topicsOfBoard',
				])
		},
		methods:{

		}
	}
</script>
<style>
	.forum-topiclist .navbar{
		background:none;
		opacity:1;
	}
	.forum-topiclist .content-container{
		top:0;
	}
	.topic-banner{
		position:relative;
	}
	.create-post{
		position:absolute;
		z-index:5;
		bottom:10px;
		right:17px;
	}
	.create-post img{
		width:13px;
		height:14px;
	}
</style>