<template>
	<Layout>
		<Navbar slot="navbar" title="收藏"></Navbar>
		<div slot="content-container" class="content-container">
			
		</div>
		<Tabbar slot="tabbar"></Tabbar>
	</Layout>
</template>
<script>
	import Navbar from '../../components/navbar';
	import Tabbar from '../../components/tabbar';
	import Layout from '../../components/layout';
	export default{
		name:"favorite",
		data(){
			return {

			}
		},
		components:{
			Layout,
			Tabbar,
			Navbar
		}
	}
</script>
<style>
	
</style>