<template>
	<Layout>
		<Navbar slot="navbar" title="首页" backImg="0"></Navbar>
		<div slot="content-container" class="content-container">
			<div class="banner">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="banner in this.$store.state.home.banners">
							<img :src="banner.thumb"/>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<ul class="board">
				<li v-for="bd in this.$store.state.home.boards">
					<router-link :to="{name:'threads',params:{bid:bd.bid},query:{title:bd.board_name}}"><span class="board-icon"><img :src="bd.icon"></span></router-link>
				</li>
			</ul>
			<div class="topics">
				<div class="topics-title"></div>
				<ul class="topics-list">
					<li class="topics-list-item" v-for="tp in this.$store.state.home.topics"></li>
				</ul>
			</div>
		</div>
		<Tabbar slot="tabbar"></Tabbar>
	</Layout>
</template>
<script>
	import api from '../../ajax/api';
	var Swiper = require("swiper");
	import Navbar from '../../components/navbar';
	import Tabbar from '../../components/tabbar';
	import Layout from '../../components/layout';
	export default {
		components:{
			Layout,
			Tabbar,
			Navbar
		},
		data() {
			return {

			}
		},
		mounted() {
			this.$store.dispatch('getHomeBanner', api.getHomeBanners);
			this.$store.dispatch('getHomeBoard', api.getHomeBoards);
			this.$store.dispatch('getHomeTopic', api.getHomeRecommendTopics);
		},
		updated(){
			new Swiper('.swiper-container', {
				spaceBetween: 30,
				centeredSlides: true,
				autoplay: 2500,
				autoplayDisableOnInteraction: false,
				pagination: '.swiper-pagination'
			});
		}
	}
</script>
<style>
	@import "../../assets/css/swiper.css";
	.board{
		display:flex;
		width:100%;
		height:53px;
	}
	.board li{
		display: block;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		font-size: 0;
		text-align:center;
		-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	}
	.board-icon img{
		width:48px;
		height:48px;
		text-align:center;
	}
</style>