<template>
	<div class="login">
		<div class="logo" >
			<img src="../../assets/image/common/logo.jpg" />
		</div>
		<div class="form_wrapper">
			<div class="login active">
				<div>
					<label>账号:</label>
					<input type="text" v-model="account" placeholder="邮箱或手机号" />
					<span class="error"></span>
				</div>
				<div>
					<label>密码: <a href="" rel="forgot-password" class="forgot linkform">忘记密码</a></label>
					<input type="password" v-model="password" placeholder="密码" />
					<span class="error"></span>
				</div>
				<div class="bottom-wrapper">
					<div class="bottom">
						<span class="submit-btn" @click="login();">登录</span>
						<router-link class="linkform" :to={path:"/register"}>注册</router-link>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import api from '../../ajax/api';
	export default{
		name:"login",
		data(){
			return{
				account:"",
				password:""
			}
		},
		methods:{
			login(){
				this.$store.dispatch({
					type:'login',
					router:this.$router,
					apiPath:api.login,
					account:this.account,
					password:this.password
				});
			}
		}
	}
</script>
<style>
	@import "../../assets/css/home.css";
</style>