<template>
	<div class="login">
		<div class="logo" >
			<img src="../../assets/image/common/logo.jpg" />
		</div>
		<div class="form_wrapper">
			<div class="login active">
				<div>
					<label>账号:</label>
					<input type="text" v-model="account" placeholder="邮箱或手机号" />
				</div>
				<div>
					<label>密码:</label>
					<input type="password" v-model="password" placeholder="密码" />
				</div>
				<div>
					<label>密码确认:</label>
					<input type="password" v-model="password2" placeholder="密码确认" />
				</div>
				<div class="bottom-wrapper">
					<div class="bottom">
						<span class="submit-btn" @click="register();">注册</span>
						<router-link class="linkform" :to={path:"/register"}>登录</router-link>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import api from '../../ajax/api';
	export default{
		name:"register",
		data(){
			return{
				account:"",
				password:"",
				password2:""
			}
		},
		methods:{
			register(){
				this.$store.dispatch({
					type:'register',
					router:this.$router,
					apiPath:api.register,
					account:this.account,
					password:this.password,
					password2:this.password2
				});
			}
		}
	}
</script>
<style>
	@import "../../assets/css/home.css";
</style>