.mask{
	position:absolute;
	left: 0;
	top:0;
	width:100%;
	height:100%;
	z-index:999;
}
.mask .img{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.navbar{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:44px;
	line-height:44px;
	z-index:20;
}
.navbar .left{
	float:left;
	height:44px;
	margin-left:17px;
}
.left .back{
	position:relative;
	vertical-align:middle;
	width:100%;
}
.left .back img{
	width:10px;
	height:17px;
}
.left .title{
	color:#333333;
	font-size:18px;
	position: absolute;
	height:44px;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
}
.navbar .right{
	height:44px;
	float:right;
	margin-right:17px;
	color:#666666;
	font-size:17px;
}
.right img{
	width:24px;
	height:6px;
}
.content-container{
	position:relative;
	width:100%;
	top:44px;
	margin-bottom:46px;
	background:#f5f5f5;
}
.tabbar{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	position: fixed;
	z-index: 20;
	bottom: 0;
	width: 100%;
	height:53px;
	background-color: #F7F7FA;
}
.tabbar-item{
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding: 5px 0 0;
	font-size: 0;
	color: #999999;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tabbar-item-icon{
	display: inline-block;
	width: 27px;
	height: 27px;
}
.tabbar-item-badge{
	display: inline-block;
	padding: .15em .4em;
	min-width: 8px;
	border-radius: 18px;
	background-color: #F43530;
	color: #FFFFFF;
	line-height: 1.2;
	text-align: center;
	font-size: 12px;
	vertical-align: middle;
	position: absolute;
	top:-2px;
	right:-13px;
}
.tabbar-item-badge-dot{
	padding: .4em;
	min-width: 0;
	position: absolute;
	top: 0;
	right: -6px;
}
.tabbar-item-label{
	text-align: center;
	color: #999999;
	font-size: 10px;
	line-height: 1.8;
}
.tabbar-item-label-on{
	color: #09BB07;
}