.logo{
	text-align:center;
	top: 250px;
	position: relative;
}
/* Form Style */
.form_wrapper{
	background:#fff;
	margin:0 auto;
	width:100%;
	font-size:16px;
	position:fixed;
	bottom:100px;
}
.form_wrapper form{
	display:none;
	background:#fff;
}
.form_wrapper .column{
	width:47%;
	float:left;
}
form.active{
	display:block;
}
form.login{
	width:100%;
}
form.register{
	width:100%;
}
form.forgot-password{
	width:100%;
}
.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}
.form_wrapper label{
	display:block;
	padding:3px 10px 0px 10px;
	margin:10px 0px 0px 0px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 10px 0px 10px;
	padding: 9px;
	display:block;
	font-size:16px;
	width:95%;
	background:
	-webkit-gradient(
		linear,
		left top,
		left 25,
		from(#FFFFFF),
		color-stop(4%, #EEEEEE),
		to(#FFFFFF)
		);
	background: 
	-moz-linear-gradient(
		top,
		#FFFFFF,
		#EEEEEE 1px,
		#FFFFFF 25px
		);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus{
	background:#feffef;
}
.form_wrapper .bottom-wrapper{
	clear:both;
	color:#fff;
	height:40px;
	line-height:40px;
}
.form_wrapper .bottom{
	height:30px;
	margin:auto 10px;
}
.form_wrapper .bottom a{
	clear:both;
	float:right;
	text-align:center;
	color:#ffa800;
	font-size:14px;
}
.form_wrapper a.forgot{
	float:right;
	line-height:24px;
	color:#ffa800;
	text-shadow:1px 1px 1px #fff;
	font-size:14px;
}
.form_wrapper a.forgot:hover{
	color:#000;
}
.form_wrapper div.remember{
	float:left;
	width:140px;
	margin:20px 0px 20px 30px;
	font-size:11px;
}
.form_wrapper div.remember input{
	float:left;
	margin:2px 5px 0px 0px;
}
.form_wrapper span.error{
	visibility:hidden;
	color:red;
	font-size:11px;
	font-style:italic;
	display:block;
	margin:4px 30px;
}
.form_wrapper .submit-btn {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	margin:15px 20px 10px 0;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.form_wrapper input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}