<template>
	<div class="page">
		<slot name="navbar"></slot>
		<slot name="content-container"></slot>
		<slot name="tabbar"></slot>
	</div>
</template>
<script>
	export default{
		name:"layout",
		data(){
			return {

			}
		}
	}
</script>