<template>
	<div class="navbar">
		<div class="left">
			<span class="back" v-if="backImg>0">
				<img v-if="backImg==1" src="../assets/image/common/back.png">
				<img v-else src="../assets/image/common/back_white.png" alt="">
			</span>
			<span class="title">{{title}}</span>
		</div>
		<div class="right">
			<span v-if="btnType=='createText'">保存</span>
			<span v-else-if="btnType=='canelText'">取消</span>
			<span v-else-if="btnType=='delText'">删除</span>
			<span v-else-if="btnType=='publishText'">发布</span>
			<span v-else-if="btnType=='createIcon'"><img src=""></span>
			<span v-else-if="btnType=='canelIcon'"><img src=""></span>
			<span v-else-if="btnType=='delIcon'"><img src=""></span>
			<span v-else><img src="../assets/image/common/share.png"></span>
		</div>
	</div>
</template>
<script>
	export default{
		name:"navbar",
		props: ['title','backImg','btnType']
	}
</script>