<template>
	<ul class="tabbar">
		<li class="tabbar-item first-item" @click="loadPage('hot')">
			<span style="display:inline-block;position:relative;">
				<img src="../assets/image/common/icon_tabbar.png" alt="" class="tabbar-item-icon">
				<span class="tabbar-item-badge">8</span>
			</span>
			<p :class="{'tabbar-item-label':1,'tabbar-item-label-on':this.$store.state.home.currTab}">热帖</p>
		</li>
		<li class="tabbar-item" @click="loadPage('favorite')">
			<span style="display:inline-block;position:relative;">
				<img src="../assets/image/common/icon_tabbar.png" alt="" class="tabbar-item-icon">
				<span class="tabbar-item-badge">8</span>
			</span>
			<p :class="{'tabbar-item-label':1,'tabbar-item-label-on':this.$store.state.favorite.currTab}">收藏</p>
		</li>
		<li class="tabbar-item" @click="loadPage('search')">
			<span style="display:inline-block;position:relative;">
				<img src="../assets/image/common/icon_tabbar.png" alt="" class="tabbar-item-icon">
				<span class="tabbar-item-badge">8</span>
			</span>
			<p :class="{'tabbar-item-label':1,'tabbar-item-label-on':this.$store.state.search.currTab}">发现</p>
		</li>
		<li class="tabbar-item" @click="loadPage('profile')">
			<span style="display:inline-block;position:relative;">
				<img src="../assets/image/common/icon_tabbar.png" alt="" class="tabbar-item-icon">
				<span class="tabbar-item-badge tabbar-item-badge-dot"></span>
			</span>
			<p :class="{'tabbar-item-label':1,'tabbar-item-label-on':this.$store.state.profile.currTab}">我</p>
		</li>
	</ul>
</template>
<script>
	export default{
		name:"tabbar",
		data(){
			return {
			}
		},
		methods:{
			loadPage(currTab){
				this.$store.commit({
					type: 'loadPage',
					currTab: currTab,
					router: this.$router,
					store:this.$store
				});
			}
		}
	}
</script>