<template>
	<div id="app">
		<router-view></router-view>
	</div>
</template>
<script>
</script>

<style>
	@import "./assets/css/reset.css";
	@import "./assets/css/native-toast.css";
	@import "./assets/css/common.css";
</style>